[Unit]
Description=Survellience App CSE546

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/survellience-app.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target